@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-size: 1.125em;
    overflow-x: hidden; 
    overflow-y: auto;
  }

  @font-face {
    font-family: 'barlow-regular';
    src: url('../public/fonts/Barlow-Regular.ttf');
  }
  
  @font-face {
    font-family: 'barlow-condensed-bold';
    src: url('../public/fonts/BarlowCondensed-Bold.ttf');
  }
  
  @font-face {
    font-family: 'barlow-condensed-regular';
    src: url('../public/fonts/BarlowCondensed-Regular.ttf');
  }
  
  @font-face {
    font-family: 'bellefair-regular';
    src: url('../public/fonts/Bellefair-Regular.ttf');
  }
}

@layer components {
  .heading-1 {
    font-family: 'bellefair-regular';
    font-size: 9.375em;
  }

  .heading-2 {
    font-family: 'bellefair-regular';
    font-size: 6.25em;
  }

  .heading-3 {
    font-family: 'bellefair-regular';
    font-size: 3.5em;
  }

  .heading-4 {
    font-family: 'bellefair-regular';
    font-size: 2em;
  }

  .heading-5 {
    font-family: 'barlow-condensed-regular';
    font-size: 1.75em;
    letter-spacing: 4.75px;
  }

  .subheading-1 {
    font-family: 'bellefair-regular';
    font-size: 1.75em;
  }

  .subheading-2 {
    font-family: 'barlow-condensed-regular';
    font-size: 0.875em;
    letter-spacing: 2.35px;
  }

  .nav-text {
    font-family: 'barlow-condensed-regular';
    font-size: 1em;
    letter-spacing: 2.7px;
  }

  .font-barlow-condensed-bold {
    font-family: 'barlow-condensed-bold';
  }
}
